#glavni{
    display:flex;
    flex-direction: row;
}
ol{
    text-align: left;
    padding:0;
    margin:0;
    list-style-type: none;
}
body{
    margin-left:25%;
    margin-right:25%;
}
#prodavnica{
    margin-left:10%;
}
th{
    text-align: left;
}